<div class="search-bar-container">
  <span class="search-icon">
    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="9" cy="9" r="7" stroke="#BDBDBD" stroke-width="2"/>
      <path d="M15 15L18 18" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </span>
  <input id="autocomplete" type="text" placeholder="Procure por lugares...">
  <span class="search-separator"></span>
  <button class="calendar-btn" type="button">
    <span class="calendar-icon">
      <img src="../../assets/images/calendar.svg" alt="Calendário" />
    </span>
    <span class="calendar-text">Dias</span>
    <span class="calendar-arrow">
      <img src="../../assets/images/arrow-down.svg" alt="Seta para baixo" />
    </span>
  </button>
  <button class="search-btn">Pesquisar</button>
</div> 