<link rel="stylesheet" href="../../../../components/modal/reviews/ReviewsModal.css">
<div id="reviews-modal" class="reviews-modal-overlay" style="display:none;">
  <div class="reviews-modal-box">
    <button class="reviews-modal-close">×</button>
    <div class="reviews-modal-title">Avaliações de [nome local]</div>
    <div class="reviews-list">
      <div class="review-item">
        <div class="review-avatar"></div>
        <div class="review-content-block">
          <div class="review-user-row">
            <span class="review-username">Usuário 1</span>
          </div>
          <div class="review-stars">
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star">&#9733;</span>
          </div>
          <div class="review-content">Lorem ipsum</div>
        </div>
      </div>
      <hr>
      <div class="review-item">
        <div class="review-avatar"></div>
        <div class="review-content-block">
          <div class="review-user-row">
            <span class="review-username">Usuário 2</span>
          </div>
          <div class="review-stars">
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
          </div>
          <div class="review-content">Lorem ipsum</div>
        </div>
      </div>
      <hr>
      <div class="review-item">
        <div class="review-avatar"></div>
        <div class="review-content-block">
          <div class="review-user-row">
            <span class="review-username">Usuário 3</span>
          </div>
          <div class="review-stars">
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </div>
          <div class="review-content">Lorem ipsum</div>
        </div>
      </div>
      <hr>
      <div class="review-item">
        <div class="review-avatar"></div>
        <div class="review-content-block">
          <div class="review-user-row">
            <span class="review-username">Usuário 4</span>
          </div>
          <div class="review-stars">
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star filled">&#9733;</span>
            <span class="star">&#9733;</span>
          </div>
          <div class="review-content">Lorem ipsum</div>
        </div>
      </div>
      <hr>
    </div>
    <div class="review-form">
      <div class="review-form-title">Faça sua avaliação desse local também!</div>
      <div class="review-form-row">
        <div class="review-avatar"></div>
        <div class="review-form-content">
          <div class="review-user-row">
            <span class="review-username">Usuário logado</span>
          </div>
          <div class="review-stars" id="review-stars">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>
          <textarea class="review-textarea" placeholder="Escrever avaliação"></textarea>
        </div>
      </div>
    </div>
    <button class="review-submit">Fazer avaliação</button>
  </div>
</div> 